<!-- views/compradores/index.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Compradores</title>
</head>
<body>
    <h1>Lista de Compradores</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID Comprador</th>
                <th>Nombre Comprador</th>
            </tr>
        </thead>
        <tbody>
            <% compradores.forEach(comprador => { %>
                <tr>
                    <td><%= comprador.idComprador %></td>
                    <td><%= comprador.nombreComprador %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
