<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Número de Vendedor</th>
                <th>ID de Comprador</th>
                <th>ID de Tipo de Producto</th>
                <th>Precio de Compra</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% productos.forEach(producto => { %>
                <tr>
                    <td class="idV"><%= producto.numeroVendedor %></td>
                    <td class="idC"><%= producto.idComprador %></td>
                    <td class="idT"><%= producto.idTipoProducto %></td>
                    <td><%= producto.precioCompra %></td>
                    <td><button onclick="eliminar(this)">Eliminar</button></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <script>
        function eliminar(btn) {
            var row = btn.parentNode.parentNode;
            var idV = row.getElementsByClassName('idV')[0].innerText;
            var idC = row.getElementsByClassName('idC')[0].innerText;
            var idT = row.getElementsByClassName('idT')[0].innerText;

            var data = { "idV": parseInt(idV), "idC": parseInt(idC), "idT": parseInt(idT) };

            fetch('/producto/deleteByComination', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                alert('Producto eliminado con éxito.');
                location.reload();
            })
            .catch((error) => {
              console.error('Error:', error);
              alert('Error al eliminar el producto.');
              location.reload();
            });
        }
    </script>


<h1>Modificar Precio Producto</h1>

<form id="updateForm">
    <label for="idV">ID Vendedor:</label>
    <input type="text" id="idV" name="idV" required>
    <label for="idC">ID Comprador:</label>
    <input type="text" id="idC" name="idC" required>
    <label for="idT">ID Tipo Producto:</label>
    <input type="text" id="idT" name="idT" required>
    <label for="precio">Nuevo Precio:</label>
    <input type="text" id="precio" name="precio" required>
    <input type="submit" value="Actualizar">
</form>

<script>
document.getElementById('updateForm').addEventListener('submit', function(event) {
    event.preventDefault();

    var idV = document.getElementById('idV').value;
    var idC = document.getElementById('idC').value;
    var idT = document.getElementById('idT').value;
    var precio = document.getElementById('precio').value;

    var data = { "idV": idV, "idC": idC, "idT": idT, "precio": precio };
    console.log(JSON.stringify(data)); 
    fetch('/producto/updatePrecioCompra', {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        alert('Precio del producto actualizado con éxito.');
        location.reload();
    })
    .catch((error) => {
      console.error('Error:', error);
      alert('Error al actualizar el precio del producto.');
      location.reload();
    });
});
</script>


<h1>Crear Producto</h1>
<form id="createForm">
    <label for="idvendedor">ID del Vendedor:</label>
    <input type="number" id="idvendedor1" name="idvendedor1" required>
    <label for="idcomprador">ID del Comprador:</label>
    <input type="number" id="idcomprador1" name="idcomprador1" required>
    <label for="idproducto">ID del Producto:</label>
    <input type="number" id="idproducto1" name="idproducto1" required>
    <label for="precio">Precio de Compra:</label>
    <input type="number" id="precio1" name="precio1" required>
    <input type="submit" value="Crear"> 
</form>

<script>
    document.getElementById('createForm').addEventListener('submit', function(event) {
        event.preventDefault();

        var idV = document.getElementById('idvendedor1').value;
        var idC = document.getElementById('idcomprador1').value;
        var idT = document.getElementById('idproducto1').value;
        var precio = document.getElementById('precio1').value;
        var data = { "idV": idV, "idC": idC, "idT": idT, "precio": precio };
        console.log(JSON.stringify(data)); 

        fetch('http://localhost:4000/producto/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            if (data.message === 'Producto creado') {
                alert('Producto creado con éxito.');
            } else {
                alert('Error al crear el producto o ya existe.');
            }
            location.reload();
        })
        .catch((error) => {
          console.error('Error:', error);
          alert('Error al crear el producto.');
        });
    });
</script>
</body>
</html>
